body  {
	font-family: Arial;
}

h1 {
	font-size: 32px;
	text-align: center;
}

h2 {
	color: #e96d07;
	font-size: 24px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-1 {
    width: 25%;
  }
  .col-lg-2 {
    width: 25%;
  }
  .col-lg-3 {
    width: 25%;
  }
 
  }

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3 {
    float: left;
    border: 1px solid green;
  }
  .col-md-1 {
    width: 50%;
  }
  .col-md-2 {
    width: 50%;
  }
  .col-md-3 {
    width: 100%;
  }
 
 }

 /********** Mobile devices only **********/
 @media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3 {
    float: left;
    border: 1px solid green;
  }
  .col-sm-1 {
    width: 100%;
  }
  .col-sm-2 {
    width: 100%;
  }
  .col-sm-3 {
    width: 100%;
  }
 
  }

div {
	background-color: #f8f8f8;
	border: solid 1px #000000;
	position: relative;
}

.Subtitlefirst {
    background-color: #0d1b3e;
    border: solid 1px #ffffff;
    position: absolute;
    top: -20px;
    right: 0px;

  }

  .Subtitlesecond {
    background-color: #2b74d9;
  }
  .Subtitlethird {
    background-color: #f49a0a;
  }v