body  {
	font-family: Arial;
}

h1 {
	font-size: 75%;
	text-align: center;
}

h2 {
	color: #e96d07;
	font-size: 25%;
}

div {
	background-color: #f8f8f8;
	border: solid 1px #ffffff;
	position: relative;
}

.Subtitlefirst {
    background-color: #0d1b3e;
    border: solid 1px #ffffff;
    position: relative;
    top: 65px;
    right: 65px;

  }

  .Subtitlesecond {
    background-color: #2b74d9;
  }
  .Subtitlethird {
    background-color: #f49a0a;
  }v